@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-Thin.otf');
  font-weight: 100;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-ExtraLight.otf');
  font-weight: 200;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-Medium.otf');
  font-weight: 400;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-SemiBold.otf');
  font-weight: 500;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-Bold.otf');
  font-weight: 600;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-ExtraBold.otf');
  font-weight: 700;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-Black.otf');
  font-weight: 800;
}

:root {
  --sidebar-width: 260px;
  --primary-color: #273c75;
  --secondary-color: #9796f0;
  --light-color: #daddff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Vistol, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.main-container {
  margin-left: var(--sidebar-width);
}

.container {
  margin: 2rem 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utilities */
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.section-title {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.btn {
  text-decoration: none;
  padding: 0.4rem 1.5rem;
  color: #fff;
  background: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
}

.btn:hover {
  background: var(--primary-color);
}

.nav-active {
  border-right: 4px solid var(--primary-color);
  background: var(--light-color);
  color: var(--primary-color) !important;
}

/* .nav-active:hover {

} */

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}

/* Navbar */
#navbar {
  background: #fff;
  border-right: 2px solid #f6f6f6;
  height: 100vh;
  width: var(--sidebar-width);
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
}

#navbar h1 {
  padding: 2rem 0;
  text-align: center;
}

#navbar ul li {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#navbar ul li a {
  display: block;
  position: relative;

  padding: 0.4rem 2rem;
  color: var(--secondary-color);
}

#navbar ul li i {
  margin-right: 1rem;
  font-size: 2.25rem;
  vertical-align: middle;
}

#navbar ul li a:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, var(--primary-color) 50%, transparent 50%);
  z-index: -1;
}

#navbar ul li a,
#navbar ul li a:after {
  background-size: 300%;
  background-position: 100%;
  transition: 0.75s;
}

#navbar ul li a:hover:after,
#navbar ul li a:not(.nav-active):hover {
  background-position: 0;
  color: #fff !important;
}

/* Searchbar */
#searchbar {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}

#searchbar form {
  display: flex;
  justify-content: flex-end;
}

#searchbar .input-item {
  margin: 1rem 1rem;
  padding: 0.5rem 1.5rem;
  font-family: Vistol, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  width: 200px;
}

/* Adidas Page */
#adidas-page {
  display: flex;
  align-items: flex-start;
  padding: 2rem 2.5rem;
  background: #f4f7ff;
  color: #333;
}

/* Product Info */
#product-section {
  flex: 1;
}

#product-info {
  text-align: center;
  padding: 1.5rem;
  background: #fff;
  border-radius: 10px;
  margin-right: 1rem;
}

#product-info h2 {
  font-size: 3.5rem;
  line-height: 0.8;
}

#product-info .product-color {
  font-weight: 300;
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 1rem;
}

#product-info .product-data {
  margin-top: 1rem;
  text-align: left;
}

#product-info .product-data h3 {
  font-size: 1.75rem;
  font-weight: 400;
  opacity: 1;
}

#product-info .product-data span {
  font-weight: 800;
  color: var(--primary-color);
}

#product-info .product-data .product-url {
  display: inline-block;
  font-size: 1.25rem;
  margin-top: 2rem;
  font-weight: 400;
}

/* Product Stock */
#product-stock-section {
  flex: 3;
}

#product-stock {
  padding: 1.5rem;
  background: #fff;
  border-radius: 10px;
}

#product-stock .product-stock-info {
  display: flex;
  justify-content: space-between;
}

#product-stock .stock-item {
  max-width: 200px;
  /* border: 3px solid black; */
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

#product-stock .stock-oos {
  color: #aaa;
  border-color: #aaa;
}

#product-stock .stock-item .icon-success {
  color: #42d100;
  margin-bottom: 1rem;
}

#product-stock .stock-item .icon-fail {
  color: #aaaaaa;
  margin-bottom: 1rem;
}

#product-stock .stock-item .stock-heading {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#product-stock .stock-item .stock-stat {
  font-weight: 600;
  font-size: 2.5rem;
}

/* Product Image */
#image-flex .main-image {
  display: block;
  border-radius: 50%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
