@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-Thin.otf');
  font-weight: 100;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-ExtraLight.otf');
  font-weight: 200;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-Medium.otf');
  font-weight: 400;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-SemiBold.otf');
  font-weight: 500;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-Bold.otf');
  font-weight: 600;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-ExtraBold.otf');
  font-weight: 700;
}

@font-face {
  font-family: Vistol;
  src: url('./assets/font/VistolSans-Black.otf');
  font-weight: 800;
}

:root {
  --sidebar-width: 260px;
  --primary-color: #624ad0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Vistol, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.main-container {
  margin-left: var(--sidebar-width);
}

.container {
  margin: 2rem 2.5rem;
}

ul {
  list-style: none;
}

/* Utilities */
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.active {
  color: #624ad0 !important;
  border-right: 4px solid var(--primary-color);
  background: #daddff;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}

/* Navbar */
#navbar {
  background: #fff;
  border-right: 2px solid #f6f6f6;
  height: 100vh;
  width: var(--sidebar-width);
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
}

#navbar h1 {
  padding: 2rem 0;
  text-align: center;
}

#navbar ul li {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding: 0.4rem 2rem;
  color: #bbb;
  width: 100%;
  cursor: pointer;
}

#navbar ul li i {
  margin-right: 1rem;
  font-size: 2.25rem;
  vertical-align: middle;
}

/* Searchbar */
#searchbar {
  background: linear-gradient(to right, #9380f4, #63addb);
}

#searchbar form {
  display: flex;
  justify-content: flex-end;
}

#searchbar .input-item {
  margin: 1rem 1rem;
  padding: 0.5rem 1.5rem;
  font-family: Vistol, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  width: 200px;
}

/* Product Info */

#product-info h2 {
  font-size: 3rem;
  line-height: 0.8;
}

/* Product Stock */
#product-stock .stock-item {
  border: 3px solid black;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
}
